.container {
 display: flex;
 flex-direction: column;
 align-items: center ;
 justify-content: space-around;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.semibold1 {
  font: 28px;
  margin: 0px 0px 8px;
  font-weight: 600;
  margin-top: 0;
  line-height: 1.2;
  font-size: 1.3rem;

}

.parent-section1 {
  display: flex;
  padding: 0px 0px 48px 0px;
}

.parent-section4 {
  display: flex;
}

.section1-part1 {
  margin: 48px 0px 0px 0px;
  padding: 24px 48px 24px 24px;
  width: 445px;
  height: 397px;
}

p {
  font-size: 13px;
  font-weight: 350;
  line-height: 1.5;
}

.highlight, .highlight2 {
  background-color: #f8f9fa;
  padding: 12px 20px;
  border-radius: 0.5rem;
  width: 445px;
}

.highlight {
  border-bottom: 10px solid white; 
}

.icon1, .icon2 {
  margin: 0px 0px 16px;
  width: 1em;
  height: 1em;
}

.section1-part2 {
  margin: 48px 0px 0px;
  padding: 24px 48px 24px 24px;
  width: 445px;
  height: 397px;
  border-left: 1px solid #dee2e6;
}

.language-html, .language-html2 {
  background-color: #f8f9fa;
  padding: 12px 20px;
  border-radius: 0.5rem;
  width: 445px;
}

.language-html {
  border-bottom: 10px solid white; 
}

p {
  margin: 0px 0px 16px;
  padding: 0px 48px 0px 0px;
}

.section2 {
  margin: 0px 220px 48px 220px;
  padding: 0px 24px 0px 24px;
  text-align: center !important;
  width: 590px;
}

h4.semibold2 {
font-size: 18px;
margin: 0px 0px 8px 0px;
font-weight: 600;
}

.section3 {
  font-size: 16px;
  margin: 0px 0px 48px;
  margin-bottom: 3rem! important;
  margin-top: 0px;
  width: 950px;
}

.section3-name {
  line-height: 1.25;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 2.1rem;
  margin: 0px 0px 16px;
  width: 500px;

}

p.general-info {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  width: 640px;
}

.parent-section4 {
  margin: -48px -24px 48px -24px;
  padding: 0px 0px 48px 0px;
}

.section4-p1 {
  font: 16px;
  margin: 48px 0px 0px;
  padding: 0px 24px;
  width: 450px;
  height: 396px;
}

.section4-p2 {
  font: 16px;
  margin: 48px 0px 0px;
  padding: 0px 24px;
  width: 450px;
  height: 396px
}

.chroma, .chroma2 {
  background-color: #f8f9fa;
  padding: 12px 20px;
  border-radius: 0.5rem;;
}

p.link {
  font-size: 16px;
  font-weight: 600;
  color: rgb(12 110 255 / 50%);;
}

/* responsive styles */

@media (max-width: 1000px) {

  .section1-part1, .section1-part2 {
    width: 350px;
  }
  
  p {
    font-size: 17px;
    font-weight: 350;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;

  }
  
  .highlight, .highlight2, .language-html, .language-html2 {
    width: 350px ;
  }

  .language-html, .language-html2 {
    padding: 0px;
    width: 445px;
  }

  .chroma, .chroma2 {
    padding: 0px;
  }

}

@media (max-width: 950px) {
  .parent-section1 {
    flex-direction: column;
  }

  .parent-section4 {
    flex-direction: column;
  }

  .section3 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 600px;
  }

  p.general-info {
    width: 550px;
  }

  .section1-part2 {
    border-left: 0px;
  }

}

@media (max-width: 550px) {
  .section2 {
    width: 400px ;
  }

  .section3 {
    width: 400px ;
  }

  p.general-info {
    width: 400px;
  }

  .section3-name {
    width: 400px;
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  p.general-info {
    width: 350px;
  }

  .section3-name {
    width: 350px;
    font-size: 1.5rem;
  }
 .section4-p1, .section4-p2 {
  width: 350px;
 }
 
 .parent-section4 {
  display: flex;
  align-items: center;
}
    
}